.container {
    border: 2px solid black;
    width: 400px;
    height: 400px;

    position: relative;
}

.red {
    border: 1px solid white;
    width: 80px;
    height: 80px;
    background-color: red;
    box-sizing: border-box;

    position: absolute;
}


.green {
    border: 1px solid white;
    width: 80px;
    height: 80px;
    background-color: green;
    box-sizing: border-box;

    position: absolute;
}


.container > div:nth-of-type(1) {
    top: 160px;
}
.container > div:nth-of-type(2) {
    top: 240px;
}
.container > div:nth-of-type(3) {
    top: 320px;
}
.container > div:nth-of-type(4) {
    top: 320px;
    left: 80px;
}
.container > div:nth-of-type(5) {
    top: 240px;
    left: 80px;
}
.container > div:nth-of-type(6) {
    top: 240px;
    left: 160px;
}
.container > div:nth-of-type(7) {
    top: 320px;
    left: 160px;
}
.container > div:nth-of-type(8) {
    top: 320px;
    left: 240px;
}