.container-2 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.container-2 tr:last-child td:first-child,
.container-2 tr:last-child td:nth-child(2),
.container-2 tr:nth-child(4) td:first-child,
.container-2 tr:nth-child(3) td:first-child
{
    background-color: red;
}

.container-2 tr:nth-child(4) td:nth-child(2),
.container-2 tr:nth-child(4) td:nth-child(3),
.container-2 tr:last-child td:nth-child(3),
.container-2 tr:last-child td:nth-child(4)
{
    background-color: green;
}